:root {
    /* ~| color palette theme1 */
    --clr-black: hsl(0, 0%, 0%);
    --clr-theme1-main-bg: hsl(222, 26%, 31%);
    --clr-theme1-keypad-bg: hsl(223, 31%, 20%);
    --clr-theme1-display-bg: hsl(224, 36%, 15%);

    --clr-text-white: hsl(0, 0%, 100%);
    --clr-text-dark-grayish-blue: hsl(221, 14%, 31%);

    --clr-key-bg: hsl(224, 21%, 50%);
    --clr-del-reset-shadow: hsl(224, 28%, 35%);

    --clr-equal-button-bg: hsl(6, 63%, 50%);
    --clr-equal-buton-bg-hover: hsl(30, 25%, 89%);

    /* ~| font-family */
    --ff-primary: 'League Spartan', sans-serif;

    /* ~| font-weight */
    --fw-bold: 700;
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: 0;
    padding: 0;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-theme1-main-bg);
}

.calculator {
    display: flex;
    flex-flow: column;
    padding: 1.6rem;
    background-color: var(--clr-theme1-main-bg);
    color: var(--clr-text-white);



    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 375px;
    max-width: 900px;
}

@media (min-width: 600px) {
    .calculator {
      min-width: 550px;
    }
  }


header {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.4rem;
}

header p {
    align-self: start;
}


.display-container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 30px 0;
    background-color: var(--clr-theme1-display-bg);
    color: white;
}

.display-text {
    font-size: 2rem;
    text-align: center;
}

.keypad-container {
    padding: 1.6rem;
    display: flex;
    flex-flow: column;
    background-color: var(--clr-theme1-keypad-bg);
    gap: .8rem;
    border-radius: 8px;
}

.keypad-container .row {
    display: flex;
    justify-content: space-evenly;
    gap: .8rem;
}



.btn-square {
    width: 25%;
    padding: 0;
    border-radius: 8px;
    font-size: 1.8rem;
    text-align: center;
    line-height: 4rem;
    color: var(--clr-text-dark-grayish-blue);
    box-shadow: 0 3px 0 rgb(192, 192, 192);
}

.btn-del {
    background-color: var(--clr-key-bg);
    color: var(--clr-text-white);
    font-size: 1.2rem;
    box-shadow: 0 3px 0 var(--clr-del-reset-shadow);
}

.btn-rectangle {
    width: 50%;
    line-height: 3.5rem;
    border-radius: 8px;
}

.btn-reset {
    font-size: 1.2rem;
    background-color: var(--clr-key-bg);
    color: var(--clr-text-white);
    box-shadow: 0 3px 0 var(--clr-del-reset-shadow);
}

.btn-equal {
    background-color: var(--clr-equal-button-bg);
    color: var(--clr-text-white);
    box-shadow: 0 3px 0 hsl(6, 68%, 35%);
}


.attribution {
    margin: 20px 0 0 0;
    font-size: .7rem;
}

.attribution a {
    color: var(--clr-equal-button-bg)
}